<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
    <th:block th:fragment="messages_table">
        <th:block th:include="fragments :: logout" />
        List of message
        <div th:if="${!isEmpty}">
            <th:block th:include="fragments :: filter" />
            <div id="messages_table">
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Text</th>
                        <th>Tag</th>
                        <th>Author</th>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${messages}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.text}"></td>
                            <td th:text="${item.tag}"></td>
                            <td th:text="${item.author} !=null ? ${item.author.username} : 'none'"></td>
                            <td th:if="${item.filename} !=null"><img th:src="@{'/img/' + ${item.filename}}"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${isEmpty}"> is empty</div>
    </th:block>

<th:block th:fragment="add_message">
    <form method="post" autocomplete="off" th:object="${new_message}" th:action="@{main}" enctype="multipart/form-data">
        <label for="text" >Message: </label>
        <input type="text" th:field="*{text}" placeholder="add your message"/>

        <label for="tag">Tag: </label>
        <input type="text"  th:field="*{tag}" placeholder="add your tag"/>

        <input type="file" name="file">
        <input type="submit" value="Add"/>
    </form>
</th:block>

<th:block th:fragment="filter">
    <form method="get" autocomplete="off" th:object="${filter}" th:action="@{/main}">
        <label for="term"></label>
        <input type="text" th:field="*{term}" placeholder="add your keyword for filtering">
        <input type="submit" value="Search">
    </form>
</th:block>

<th:block th:fragment="logout">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</th:block>

</body>
</html>