<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
    <title>Login page</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>

Login page
<form th:action="@{/login}" method="post" autocomplete="off">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<a th:href="@{/registration}">Add new user</a>
</body>
</html>