<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: head"></div>
    <title th:text="#{login.page.title}"></title>
</head>
<body>
<th:block th:include="common :: navbar"></th:block>
<div class="container mt-5 ml-1">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${isRegistration == null}" class="mb-1">
        <h4><a th:href="@{/registration}">Register now</a></h4>
    </div>
    <div th:text="${message ne null ? message : ''}">

    </div>
    <div>
        <form th:action="@{(${isRegistration})? '/registration' : '/login'}" method="post" autocomplete="off">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name : </label>
                <div class="col-sm-6">
                    <input type="text" name="username" class="form-control" placeholder="User name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Password: </label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </div>
            </div>
            <div th:if="${isRegistration}">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> E-mail: </label>
                    <div class="col-sm-6">
                        <input type="email" name="email" class="form-control" placeholder="@email"/>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" th:text="(${isRegistration})? 'Sign Up' : 'Sign In'"></button>
        </form>
    </div>
</div>

</body>
</html>