<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
    <title>User editor</title>
</head>
<body>
<th:block th:include="common :: navbar"></th:block>
<div>
    <p>User editor</p>
</div>
<div>
    <form method="post" th:action="@{/users}" th:object="${user}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{password}">
        <input th:field="*{username}">
        <br />

        <div>Roles: </div>
        <div th:each="role : ${roles}">
            <label th:text="${role}"></label>
            <input type="checkbox" th:field="*{roles}" th:value="${role}">
        </div>
        <br />

        <label>Active:</label>
        <input type="checkbox" th:field="*{active}" th:value="${user.active}">
        <br />

        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</div>

</body>
</html>